.subtitle {
    font-size: 80%;
    margin-top: 10px;
    margin-left: 5px;
    font-style: italic;
}

td {
    vertical-align: top;
}

td > :first-child {
    margin-top: 0;
}

input, button, select, textarea {
    border-radius: 0.5em;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
}

input[type=text] {
    width: 25em;
}

ul,ol {
    margin-top: 1.2rem;
}

#recipe-infos-col {
    padding-right: 5em;
}

#recipe-img {
    width: 100%;
}

#instructions {
    list-style: none;
}

.disabled {
    color: hsl(198, 10%, 71%);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip svg {
    width: 2em;
    fill: rgb(0, 121, 173);
    margin-bottom: -0.5em;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.content-area {
    overflow: visible !important;
}